    <header>
        <h1>
             <img src="images/image.png" alt="Recycle" width="50"/>
            <% if(user.userType === 'user'){ %>
            User Dashboard
            <% }else if (user.userType === 'recycler'){ %>
            Collector Dashboard
            <% } else if (user.userType === 'admin'){ %>
            Admin Dashboard
            <% } else { %>
            Waste Exchange System
            <% } %>
        </h1>
        <nav>
            <% if(user.userType === 'user'){ %>   
            <a href="/userDashboard">userDashboard</a>
            <a href="/sendRequest">Send Waste</a>
            <a href="/rewards">Rewards</a>
            <span id="profile-shortcut"  title="Quick Profile">
                <i class="fa-solid fa-user-circle" style="font-size:1.8rem; color:#7b2ff2; vertical-align:middle;"></i>
            </span>
            <% }else if (user.userType === 'collector'){ %>
            <a href="/collectorDashboard">collectorDashboard</a>
            <a href="/collector/tasks">My Tasks</a>
            <a href="/collector/completed">Completed Collections</a>
             <span id="profile-shortcut"  title="Quick Profile">
                <i class="fa-solid fa-user-circle" style="font-size:1.8rem; color:#7b2ff2; vertical-align:middle;"></i>
            </span>
            <% } else if (user.userType === 'admin'){ %>
            <a href="/adminDashboard">adminDashboard</a>
            <a href="/admin/users">Users</a>
            <a href="/admin/collectors">Collectors</a>
            <a href="/admin/reports">Reports</a>
            <span id="profile-shortcut"  title="Quick Profile">
                <i class="fa-solid fa-user-circle" style="font-size:1.8rem; color:#7b2ff2; vertical-align:middle;"></i>
            </span>
            <% } else { %>
                <a href="#">.</a>
            <% } %>

        </nav>
        
    </header>

