<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login / Signup - Plastic Waste Exchange</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
    <link href="CSS/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="CSS/authStyle.css"/>

</head>
<body>
    <header>
        <h1>
            <img src="/images/image.png" alt="Recycle" width="38"/>
            PLASTIC WASTE EXCHANGE
        </h1>
        <nav>
            <a href="/home.html">Home</a>
            <a href="/about.html">About</a>
            <a href="/contact.html">Contact</a>
            <a href="/signup.html" class="login-btn">Signup</a>
        </nav>
    </header>
    <div class="authcontainer">
       <h2>Login</h2>
        <!-- Login Form -->
        <form id="loginForm" class="active" action="/postlogin" method="post">
            <input type="email" name="email" placeholder="Email" required>
            <input type="password" name="password" placeholder="Password" required>
            <select name="userType" required>
                <option value="" disabled selected>Select User Type</option>
                <option value="user">User</option>
                <option value="collector">Collector</option>
                <option value="admin">admin</option>
            </select>   
            <!-- <% if (errorMessage) { %>
             <div class="error"><%= errorMessage %></div>
            <% } %> -->
            <button type="submit" class="submit-btn">Login</button>
            <p id="loginError" class="error"></p>
        </form>
        <div class="form-footer">
            Don't have an account? <a href="/signup.html" id="toSignup">Signup</a>
        </div>
    </div>
 <footer>
        <p>© 2025 Plastic Waste Exchange. All Rights Reserved.</p>
    </footer>

    <script src="JS/login.js"></script>
</body>
</html>
