<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>Waste Pickup Request</title>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
  <link href="/style.css" rel="stylesheet">
  <link href="/requeststyle.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">


</head>
<body>
  <%- include ('../partials/header.ejs') %>
  <%- include ('../partials/profile.ejs') %>
  <%- include ('../partials/request.ejs') %>
  <%- include ('../partials/footer.ejs') %>

  

</body>
</html>
